@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+Pro:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
header{
    background-color: aqua;
}
.hero{
    background-color: rgb(58, 208, 88);
}
.sobremi{
    background-color: blue;
}
.mishabilidades{
    background-color: aquamarine;
}
.misservicios{
    background-color: rgb(2, 25, 67);
}
.miportfolio{
    background-color: rgb(30, 196, 143);
}
.micontacto{
    background-color: rgb(71, 153, 220);
}